# ########## NEXTAUTH CONFIG ##########
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret

# ########## API CONFIG ##########
# Use http://localhost:3001 for local development
# Use http://server:3001 for Docker
NEXT_PUBLIC_API_URL=http://localhost:3001